---
spring:
    application:
        name: azware-missing-persons-service 
    liquibase:
        change-log: src/main/resources/db/changelog/db.changelog-master.yaml
    datasource: #Fill these fields in
        url: 
        username: 
        password: 
        driver-class-name: org.postgresql.Driver
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect