version: '0.0.1'

services:
    missing-persons-psql:
        image: postgres:13.3-alpine
        environment: #Fill in the blanks
            POSTGRES_DB: missing_persons
            POSTGRES_PASSWORD: postgres
        ports:
            - '5432:5432'

    missing-persons-spring:
        image: missing-persons:0.1.0
        ports: 
            - '8080:8080'
            